<h1 class="page-heading">Image Display Page</h1>
<div class="display-container">
    <% for(let url of images){  %>
        <img src="<%= url %>" alt="" width="300px" class="display-item-image">
    <% } %>
</div>