<h1 class="page-heading">Image Upload Page</h1>
<form action="/upload-image" method="post" enctype="multipart/form-data" class="input-container">
    <input type="file" name="myImage" required>
    <button type="submit">Upload Image</button>
</form>