<h1 class="page-heading">Register</h1>
<div >
    <form action="/register" class="input-container"  method="post">
        <input name="email" type="text" placeholder="email" required>
        <input name="password" type="password" placeholder="password" required>
        <button type="submit">Register</button>
    </form>
</div>