<h1 class="page-heading">Text Display Page</h1>
<div class="display-container">
    <% for(let str of texts){  %>
        <p class="display-item-text">
            <%=str%>
        </p>
    <% } %>
</div>