<h1 class="page-heading">Text Upload Page</h1>
<form action="/upload-text" method="post" class="input-container">
    <textarea name="text" id="" cols="30" rows="10" required></textarea>
    <button type="submit">Upload Text</button>
</form>